<div>
  <input #search nbInput type="text" shape="round" placeholder="search" (input)="findQuery(search.value)">
  <nb-icon icon="search-outline" class="search-icon" (click)="findQuery(search.value)"></nb-icon>
</div>

<ng-container *ngIf="mails.length > 0">
  <nb-list nbInfiniteList listenWindowScroll [threshold]="200" (bottomThreshold)="loadNext()">
    <nb-list-item *ngFor="let mail of mails;" routerLink="/{{singularType}}/{{mail.id}}">
      <app-mail-list-item [mail]="mail"></app-mail-list-item>
    </nb-list-item>
  </nb-list>
</ng-container>

<button nbButton class="add-new-button" type="button" routerLink="/mail/new">
  <nb-icon icon="plus-outline"></nb-icon>
</button>